<h1>New user</h1>

<%= form_with model: @user do |form| %>
  <%= form.label "Username Here:" %>
  <%= form.text_field :username %>
  <%= form.label :email %>
  <%= form.email_field :email %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.submit "Create" %>
<% end %>

<div>
  <%= link_to "Back to users", users_path %>
</div>
